body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png");
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: orange;
  transition: 0.3s;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 10px 0;
}

button:hover{
  background-color: darkorange;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}

.valor-convertido{
  color: lightblue;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.container-moedas{
  margin: 10px 0;
}

#moeda1, #moeda2{
  height: 25px;
}

.erro{
  color: red;
}